/* Estilos para la lista de canciones */
.song-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  
  }
  
  .song-card {
    width: 250px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
  }
  
  .song-card:hover {
    transform: scale(1.05);
  }
  
  .song-poster {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  /* Media Query para pantallas pequeñas (móviles) */
  @media (max-width: 768px){
    .year,
    .duration,
    .rating {
      display: none;
    }
  }

  /* Estilo para el modal de Editar Cancion */
  .modal-footer button {
    border-radius: 50%;
  } 
  
  .input-underline {
    border: none; /* Quita el borde */
    border-bottom: 2px solid #000; /* Agrega solo una línea inferior */
    background: transparent; /* Fondo transparente */
    outline: none; /* Quita el contorno al hacer clic */
    width: 100%; /* Ocupar todo el ancho disponible */
    font-size: 16px; /* Tamaño del texto */
    padding: 5px 0; /* Espaciado arriba/abajo */
  }
  
  .input-underline:focus {
    border-bottom: 2px solid #007bff; /* Cambia el color al hacer foco */
  }

  /* Skeleton Loader */
  .skeleton {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-90deg, #e0e0e0 0%, #f5f5f5 50%, #e0e0e0 100%);
    background-size: 400% 400%;
    animation: shimmer 1.5s infinite;
  }
  
  @keyframes shimmer {
    0% { background-position: 100% 0; }
    100% { background-position: -100% 0; }
  }
  