/* Estilos para la lista de artistas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; 
    overflow-x: hidden;
  }

.companies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  
  }
  
  .companies-card {
    width: 20vw;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
  }
  
  .companies-poster {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .image-container {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    object-fit: cover; 
  }
  
  
  /* Media Query para pantallas pequeñas (móviles) */
  @media (max-width: 768px){
    .rating {
      display: none;
    }

    .companies-card {
        width: 90vw;
    }
  }